<a href="https://colab.research.google.com/github/FedeM-Git/TT-2C2025-Data-Analitycs-Notebooks/blob/main/Actividades%20JFM/EjercicioPracticos_JFM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividades

## Actividad 1

  Creá tu propio bloque de texto. Utiliza:
  - formatos de texto
  - links
  - al menos una imagen de tu carpeta Drive

## Actividad 2

Creá un bloque de código con un programa que pida un número por teclado, y responda si es par o impar. Ejecutalo.

#**Iniciando Data Analytics with Python**

Como primer tarea se nos pidio armar un bloque con diferentes formatos de texto, links y una imagen. Para que me quede una muestra de cada uno, armé la siguiente lista:

1. Esta lista de formatos:
    - > Cita

    - **negrita**

    - ***negrita y cursiva***

    - *cursiva*

2. Estos Elementos:
    - [Enlace a Imagen](https://drive.google.com/file/d/1BcoOSDWlLsbF-9obYlW_EgQ6v0FEVs5F/view?usp=drive_link)

    - Esta Imagen:
<img src="https://drive.google.com/uc?id=1BcoOSDWlLsbF-9obYlW_EgQ6v0FEVs5F">

    Esto es una Doble Tabulación
    Sigue la doble Tabulacion
No hay Tabulación

  Tabulación Simple

Como Actividad 2 debemos elabror un bloque de código que nos pida un número e indique si es par o impar

In [ ]:
print("¿Con quén estoy hablando?")
nombre=input()
print("Hola ", nombre, ", por favor ingresá un número:")
numero=int(input())
if numero%2==0:
  print(numero, " es un número PAR")
else:
  print(nombre, ", ",numero, "es un número IMPAR")

#**CLASE 2**

#Actividad: Manipulación de Estructuras de Datos en Python
Contexto:

¡Bienvenido a esta emocionante actividad en tu proceso de selección en SynthData! Esta vez, trabajarás en la manipulación de diferentes estructuras de datos en Python, contando con la guía de Sabrina, nuestra Data Engineer. Este ejercicio es ideal para fortalecer tus habilidades en el manejo y transformación de datos con Python, lo cual es esencial para tus futuras tareas en el análisis de datos.

En esta actividad, te centrarás en crear y manipular diferentes estructuras de datos en Python. Desde listas y diccionarios, hasta el uso de funciones y comprehensions, tendrás la oportunidad de experimentar de manera práctica con estas herramientas. Al finalizar, estarás más preparado para aplicar estas técnicas en proyectos del mundo real.

Objetivos:
  * Crear y manipular diversas estructuras de datos, aplicando tanto funciones normales como funciones lambda.
  * Utilizar comprehensions para crear listas

#Ejercicio Práctico
1. Estructuras de Datos

    **a.** Crear una lista llamada *numeros* que contenga los números del 1 al 10.

    **b.** Crear una tupla llamada *meses* que contenga los nombres de los 12 meses del año.

    **c.** Crear un diccionario llamado *notas* con el nombre de tres estudiantes como claves y sus respectivas notas como valores.

    **d.** Crear un conjunto llamado *numeros_unicos* con algunos números, asegurándote de que no haya duplicados.

In [7]:
numeros=[1,2,3,4,5,6,7,8,9,10]
meses = ("enero","febrero","marzo","abril","mayo","junio","julio","agosto","septiembre","octubre","noviembre","diciembre")
notas_list = ({"nombre":"Germán", "nota":8}, {"nombre":"Matías", "nota":4},{"nombre":"Analía", "nota":6})
notas_dic = {"Germán":8, "Matías":4,"Analía":6}
numeros_unicos = {0,2,4,6,8,10,12,14,16,18,20}

print(type(numeros))
print(numeros)
print()
print(type(meses))
print(meses)
print()
print(type(notas_list))
print(notas_list)
print()
print(type(notas_dic))
print(notas_dic)
print()
print(type(numeros_unicos))
print(numeros_unicos)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

<class 'tuple'>
('enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre')

<class 'tuple'>
({'nombre': 'Germán', 'nota': 8}, {'nombre': 'Matías', 'nota': 4}, {'nombre': 'Analía', 'nota': 6})

<class 'dict'>
{'Germán': 8, 'Matías': 4, 'Analía': 6}

<class 'set'>
{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

2. Modificación y Acceso

    **a.** Modificar uno de los valores del diccionario notas (cambiar la nota de uno de los estudiantes).

    **b.** Acceder a los elementos de la lista numeros y mostrar todos los números pares utilizando un bucle.

    **c.** Acceder al primer mes de la tupla meses y al último mes. Mostrar ambos.

In [19]:
print(f'la nota de Analía es {notas_dic['Analía']}')
notas_dic['Analía'] = 10
print(f'ahora la nota de Analía es {notas_dic['Analía']}')

print()

print(numeros)
def act2_paresEnLista(lista):
  paresEnLista=[]
  for number in lista:
    if number%2==0:
      paresEnLista.append(number)
  return paresEnLista
print(act2_paresEnLista(numeros))

print()

print(f'El primer mes del año es {meses[0]}')
print(f'El último mes del año es {meses[-1]}')

la nota de Analía es 10
ahora la nota de Analía es 10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

El primer mes del año es enero
El ultimo mes del año es diciembre

3. Funciones Normales y Funciones Lambda

    **a.** Definir una función normal llamada *multiplicar_por_dos* que tome un número y lo multiplique por 2. Utilizar esta función para crear una nueva lista llamada *dobles*, que contenga los dobles de los números en la lista numeros.

    **b.** Definir una función lambda que haga lo mismo y utilizarla para crear una nueva lista llamada *dobles_lambda*, que contenga los dobles de los números en la lista numeros.

In [20]:
def multiplicar_por_dos(lista):
  dobles_fx=[]
  for number in lista:
    dobles_fx.append(number*2)
  return dobles_fx
dobles=multiplicar_por_dos(numeros)
print(numeros)
print(dobles)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]